page-aluno {
    ion-item.aluno{
        text-align: center;
    }

    .icon_aluno{
        font-size: 50px;
    }

    h2.aluno_title{
        color: rgb(167, 29, 75);
    }

    h2.aluno_curso{
        color: rgb(15, 119, 79);
    }
}
